* text=auto
*.cmake   text diff=cmake
*.cpp     text diff=cpp
*.h       text diff=cpp
*.md      text diff=markdown
*.json    text
*.qrc     text
*.svg     text
*.yml     text
*.yaml    text
*.sh      text eol=lf
*.ps1     text eol=crlf
*.bat     text eol=crlf
